.EventPage {

    .voteStatusList {

        .voteStatusWrapper {
            margin: 25px 10px;
        }

        .emptyWrapper {
            margin-top: 100px;
        }
    }

    .backToTopButton {
        position: fixed;
        left: 50px;
        bottom: 50px;
    }

    .addPeopleButtonWrapper {
        position: fixed;
        right: 100px;
        bottom: 50px;

        .addPeopleButton {
            width: 60px;
            height: 60px;
            transition: 0.5s;
            font-size: 40px;
            font-weight: bold;

            &:hover {
                transform: rotate(180deg);
            }
        }
    }
}