.EventPage {

    .voteStatusList {

        .voteStatusWrapper {
            margin: 25px 10px;
        }

        .emptyWrapper {
            margin-top: 100px;
        }
    }

    .backToTopButton {
        position: fixed;
        left: 5%;
        bottom: 10%;
    }

    .addPeopleButtonWrapper {
        position: fixed;
        right: 10%;
        bottom: 10%;

        .addPeopleButton {
            width: 60px;
            height: 60px;
            transition: 0.5s;
            font-size: 30px;
            font-weight: bold;
        }
    }
}